body {
  /* background-color: #dcdcdc; */
  font-family: serif;
  display: flex;justify-content: center;
  color: #000;
}

.main-container {
  padding: 30px;
  width: 700px;
  text-align: center;
   background-color: #e6e6e6;
}



.card {
  /* border: 3px solid black; */
  padding: 40px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #e6e6e6;
}

.left {
  margin-right: 40px;
}

.profile-pic {
  width: 200px;
  height: 200px;
  background-color: #5f93c4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: white; */
  font-size: 28px;
}


.right h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.address {
  font-size: 22px;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  gap: 80px;
}

.stats h3 {
  font-size: 28px;
}

.stats p {
  font-size: 26px;
}

.follow-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px 30px;
  font-size: 20px;
  border-radius: 12px;
  border: 2px solid black;
  background: white;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

.follow-btn:hover {
  background-color: black;
  color: white;
}
