body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
}
.box{
  width: 400px;
  text-align: center;
  height: 300px;
   background-color: rgb(204, 233, 254);
  /* border: 2px solid black; */
  border-radius: 10px;
  padding-top: 10px;
}

.count{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 30px;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
}
.button{
  margin-top: 40px;
  display: flex;
  margin-left: 30px;
  gap: 20px;
}
.btn1{
  padding: 10px;
  width: 100px;
  background-color: rgb(0, 242, 28);
  border: none;
  border-radius: 5px;
  color: rgb(12, 11, 11);
}

.btn{
  padding: 10px;
  width: 100px;
  background-color: rgb(169, 12, 35);
  border: none;
  color: white;
  border-radius: 5px;

}

.btn2{
  padding: 10px;
  width: 100px;
  background-color: rgb(7, 44, 123);
  border: none;
  color: white;
  border-radius: 5px;

}