

body {
 
  font-family: Arial, sans-serif;
  background-color: #a8c89f;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.container{
    /* border: 2px solid black; */
    width: 700px;
    height: 400px;
 background-color: white;
}
.app {
  padding: 40px;
}



.box
 {

  padding: 10px;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid black;
 
  justify-content: space-between;
  color: gray;
  font-size: 14px;
  margin-bottom: 10px;
}

.back {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.heart {
  cursor: pointer;
}
.card {
   height: 250px;
  display: flex;
  
}

.left {
  width: 50%;
  height: 100%;
  padding: 40px;
  display: flex;
  border-right: 1px solid black;
  justify-content: center;
  align-items: center;
}

.left img {
  width: 200px;
}

.right {
  width: 50%;
  padding: 40px;
}

.right h2 {
  margin: 0;
  font-weight: bold;
}

.sub {
  font-size: 12px;
  color: gray;
}

.right h3 {
  margin-top: 10px;
  font-size: 22px;
}

.desc {
  font-size: 14px;
  color: gray;
  margin-top: 15px;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid gray;
  background: white;
  cursor: pointer;
}

.cart {
  background: #f4f4f4;
}
