body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.btn{
  background-color: rgb(0, 119, 255);
  width: 130px;
  border: none;
  height: 40px;
    border-radius: 10px;

  justify-self: center;
}
.form{
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    display: grid;
    align-items: center;
    gap: 30px;
    border: 2px solid black;
    border-radius: 10px;
     padding: 10px;

}
input{
  width: 250px;
  height: 30px;
  justify-self: center;
}
