body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}


.formBox{
   width: 400px;
   background-color: azure;
   height: 400px;
   border:  2px solid black;
   border-radius: 10px;
    
  
}
.form{
   width: 400px;
   height: 400px;
    display: grid;
    grid-template-columns: auto;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
input{
  width: 300px;
  height: 30px;
}
button{
  width: 100px;
  margin-left: 100px;
  height: 30px;
  background-color: rgba(34, 67, 43, 0.612);
  border: none;
   border-radius: 4px;

}

